body {
  background-color: rgb(206, 90, 148);
}
header {
  text-align: center;
  color: rgb(85, 48, 128);
  font-size: 30px;
}

nav {
  top: 0;
  position: sticky;
  color: blue;
  display: inline-block;
  border: 0;
  padding: 15px;
  border-radius: 30px;
  background-color: cadetblue;
}





div {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  border: 3px solid green;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 2.7rem;
  color: rgb(216, 216, 63);
  background-color: rgb(8, 104, 72);
}

.classes {
  display: inline-block;
  border: 3px solid green;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
  background-color: blueviolet;
}

p {
  color: rgb(177, 212, 177);
  text-align: right;
  font-size: 20px;
}

#who-we-are {
  text-align: right;
  color: aliceblue;
}

.images img {
  width: 70%;
}
