body {
    background-color: yellowgreen;
    background-image: url("https://cdn.prod.website-files.com/5b44edefca321a1e2d0c2aa6/635559a76e708a69816502c9_Dimensions-Animals-Old-World-Monkeys-Intro-Group-2-Front.svg");
    background-size: 100vw ;
    color: blue;
    font-size: 1vw;
}

header  {
    display: block;
    font-size: 3rem;
    background-color: rgb(216, 86, 11);
    border: 0;
    border-radius: 40px;
    margin: 30px;
    text-align: center;
}

.picchers {
    top: 0;
    position:relative;
    font-size: 2rem;
    border: 1rem;
    background-color: blueviolet;
    display: inline-block;
    border-radius: 20px;
    padding: 2vw;
    color:brown;
}

.card {
    position: relative;
    border: solid black 1rem;
    padding: 0;
    display: inline-block;
    position: relative;
}



#follow {
    position: absolute;
    left: 0;
    top: 0;
    color: blueviolet;
    font-size: 1rem;
}

#like {
    position: absolute;
    bottom: 2%;
    right: 0;
}

p {
    font-size: 1rem;
}